html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 100%;
}

/* Optional: prevents map controls from blocking stuff */
.gm-control-active,
.gm-fullscreen-control {
  margin: 10px;
}
